<div class="main-outer">
  <div class="data-set">
    <h1>Customer Form</h1>
    <hr>
    <form [formGroup]="customerForm">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer ID</mat-label>
          <input type="text" matInput 
                formControlName="id"
                 placeholder="Ex. S0001">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input type="text" matInput 
                formControlName="name"
                 placeholder="John">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Address</mat-label>
          <input type="text" matInput 
                formControlName="address"
                 placeholder="#5 , Main Road, Panadura.">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4 col-lg-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Salary</mat-label>
          <input type="number" matInput
                formControlName="salary" 
                 placeholder="50000">
        </mat-form-field>
      </div>
      <div class="col-12">
        <p style="text-align: right">
          <button
            mat-raised-button
            color="primary"
            [disabled]="customerForm.invalid"
            (click)="saveCustomer()">
          Save Customer</button>
        </p>
        <hr>

      </div>
      
    </div>
    </form>
  </div>
  
  <div class="table-outer">

  </div>

</div>